@charset "utf-8";

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic);

/* Globals */
* { box-sizing: border-box; margin: 0; }
body { font-family: 'Karla', sans-serif; font-size: 16px; background: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)), url(../assets/bg.jpg) no-repeat; background-attachment: fixed; background-size: cover; }
a { text-decoration: none; color: inherit; }
p { margin: 10px 0; }
.c { clear:both; }
section { width: 100%; }

.wrap {
	width: 100%;
	max-width: 1300px;
	display: block;
	margin: 0 auto;
}


/* top section */
.rog {
	width: 500px;
	max-width: 100%;
	display: block;
	padding: 20px 0 0 30px;
}

.callout {
	float: left;
	width: 75%;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0,0,0,.5);
	margin: 80px auto;
}

.callout h1 {
	font-size: 42px;
	font-weight: 400;
	margin-bottom: 10px;
}

.callout h2 {
	font-size: 36px;
	background-color: #f8b31f;
	display: inline;
  padding: 6px 10px;
  font-weight: 400;
	position: relative;
}

.callout h2 span {
	font-size: 44px;
}

.callout h2.secondary {
	position: relative;
	background-color: #203eab;
	width: 275px;
  display: block;
  margin: 20px auto;
	padding: 30px 10px 10px;
}

.callout h2.secondary:hover {
	background-color: #072592;
}

.callout h2.secondary a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

h2.secondary::before {
	content: 'Click here to';
    font-size: 16px;
    position: absolute;
    left: calc(50% - 45px);
    top: 12px;
    margin: 0 auto;
}

.leslie {
	float: right;
	width: 25%;
	margin-bottom: 10px;
	margin-top: -160px;
	padding-left: 10px;
    padding-right: 10px;
}

.outerbox {
	width: 180px;
	margin: 0 auto;
	display: block;
}

.leslieimg {
	width: 180px;
}

.innerbox {
	margin-top: -5px;
	text-align: center;
	background-color: #fff;
	padding: 10px 5px;
	font-weight: bold;
}

.innerbox p {
	margin: 5px 0;
}

.innerbox p.email {
	font-size: 13px;
}

.name {
	font-size: 20px;
}

.reg {
	font-size: 14px;
	line-height: 20px;
}

.phone {
	font-size: 18px;
}

.realtorlogos {
	margin-top: 10px;
}

.eho {
	width: 25px;
    margin-right: 10px;
}

.link-callout {
    text-align: center;
    width: 100%;
    max-width: 100%;
    background-color: #203eab;
    color: #fff;
    padding: 5px 10px;
    margin: 15px auto;
    display: block;
}



.link-callout a {
    color: #fff;
    text-decoration: underline;
    font-style: italic;
    margin-top: 5px;
    display: block;
}


/* main section */

.main {
	padding: 0;
}

.main .radios {
	/* position: absolute;
	left: -10000px; */
	display: none;
}


#FeaturedListings:focus ~ .tabs #featuredtab,
#BuySell:focus ~ .tabs #buyselltab,
#AboutLeslie:focus ~ .tabs #abouttab,
#Testimonials:focus ~ .tabs #testimonialstab,
#Contact:focus ~ .tabs #contacttab {
}

.main .tab {
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    background-color: #eee;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    cursor: pointer;
    width: 22%;
    margin: 0 1.35%;
    text-align: center;
    z-index: 10;
    font-size: 20px;
    font-weight: bold;
}

.main .tab span.slash {
	display: none;
}

.main .tab:hover {

}

#FeaturedListings:checked ~ .tabs #featuredtab,
#BuySell:checked ~ .tabs #buyselltab,
#AboutLeslie:checked ~ .tabs #abouttab,
#Testimonials:checked ~ .tabs #testimonialstab,
#Contact:checked ~ .tabs #contacttab {
    background-color: #fff;
    cursor: default;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.main .pages {
    background-color: #fff;
    padding: 15px;
    z-index: 9;
    margin-top: -1px;
  	border: 1px solid #eee;
}

.main .page {
    display: none;
}

#FeaturedListings:checked ~ .pages #featuredpage,
#BuySell:checked ~ .pages #buysellpage,
#AboutLeslie:checked ~ .pages #aboutpage,
#Testimonials:checked ~ .pages #testimonialspage,
#Contact:checked ~ .pages #contactpage {
    display: block;
}

.main h3 {
	background-color: #c70303;
	border-bottom: 3px solid #ac0000;
	color: #fff;
	display: inline-block;
	padding: 5px 15px 7px 30px;
	margin: 10px 0 25px -30px;
	font-size: 30px;
	font-weight: 400;
}

.featuredpage h3 {
	clear: both;
}


.video-callout h2 {
	color: #c70303;
	margin: 15px auto;
	text-align: center;
	font-size: 26px;
}

.video-callout iframe {
	display: block;
	margin: 30px auto 15px auto;
	width: 560px;
	height: 315px;
	max-width: 100%;
	float: none;

}

.cards {
	-ms-display: flex;
	-ms-justify-content:space-around;
  	-ms-flex-flow: wrap;

	-webkit-display: flex;
	-webkit-justify-content:space-around;
  	-webkit-flex-flow: wrap;

	display:flex;
	justify-content:space-around;
	flex-flow: wrap;

	width: 100%;
	max-width: 1300px;
	margin: auto;
}

.card {
	position: relative;
	width: 375px;
	margin: 20px 10px;
	max-width: 100%;
}

.card .cardpic {
	display: none;
	width: 375px;
	max-width: 100%;
	opacity: 0;
}

.card .cardpic.active {
	display: block;
	opacity: 1;
	position: relative;
	top: 0;
	left: 0;
}

.card .dots {
	height: 20px;
    margin-top: -25px;
    position: absolute;
    text-align: center;
	width: 100%;
	z-index: 100;
}

.card .dotblock {
    display: block;
    margin: 0 auto;
    background: rgba(0,0,0,.5);
    border-radius: 10px;
}

.card .dotblock.six {
	width: 114px;
}

.card .dotblock.seven {
	width: 130px;
}

.card .dotblock.eight {
	width: 150px;
}

.card .dotblock.nine {
	width: 170px;
}

.card .dotblock.eleven {
	width: 202px;
}

.card .dots img {
	display: inline;
	width: 14px;
	opacity:.8;
	padding-top: 3px;
	cursor: pointer;
}

.card .dots img.active, .card .dots img:hover {
	opacity: 1;
}

.videotour {
	display: block;
  text-align: center;
  margin: 10px auto;
  background-color: #fff;
  color: #4a525d;
  padding: 5px;
  width: 150px;
}

.videotour:hover {
	background-color: #ddd;
}

.info {
	background-color: #4a525d;
	color: #fff;
	padding: 10px 10px 0 10px;
	height: 240px;
	position: relative;
}

.info1 {
	position: relative;
	height: 100%;
}

.info1 ul {
	padding-left: 10px;
}

.info1 li {
	font-size: 16px;
	line-height: 26px;
	list-style-type: none;
}

.info2 {
	display: none;
}

.info1 .address {
	font-size: 15px;
}

.info1 .address:before {
	background:url(../assets/house.png) no-repeat;
    width:16px;
    height:16px;
    display:inline-block;
    content: " ";
    padding-right: 10px;
    top: 2px;
    position: relative;
}

.info1 .size:before {
	content: " ";
	background:url(../assets/size.png) no-repeat;
    width: 16px;
    height: 16px;
    display:inline-block;
    padding-right: 10px;
    top: 2px;
    position: relative;
}

.info1 .bedrooms:before {
	background:url(../assets/bed.png) no-repeat;
    width:16px;
    height:16px;
    display:inline-block;
    content: " ";
    padding-right: 10px;
    top: 2px;
    position: relative;
}

.info1 .bathrooms:before {
	background:url(../assets/bath.png) no-repeat;
    width:16px;
    height:16px;
    display:inline-block;
    content: " ";
    padding-right: 10px;
    top: 2px;
    position: relative;
}


.info1 .mls:before {
	background:url(../assets/number.png) no-repeat;
    width:16px;
    height:16px;
    display:inline-block;
    content: " ";
    padding-right: 10px;
    top: 2px;
    position: relative;
}

.info1 p {
	padding-left: 10px;
    margin: 12px 5px 0 0;
}

.bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.bottom a {
	margin-left: -10px;
	padding: 0 10px;
	background-color: #6b6b6c;
	float: left;
	line-height: 44px;
	position: absolute;
	bottom: 0;
}

.bottom a:hover {
	background-color: #7b7b7c;
}

.bottom .price {
	margin: 5px 0 5px 5px;
	float: right;
	font-size: 32px;
	color: #f8b31f;
}

.info2 {
	height: 155px;
	overflow-y: auto;
}

.info2 .bottom a {
	margin-left: 0;
}

.info2 p {
	padding-left: 10px;
    margin: 2px 5px 0 0;
}

.info2 .bottom .price {
    margin-right: 10px;
}

#contactpage p {
	font-size: 21px;
	line-height: 25px;
	padding: 0 50px;
	margin: 15px 0;
}

#contactpage ul {
	margin-bottom: 20px;
	padding-left: 10px;
}

#contactpage li {
	list-style-type: none;
	line-height: 28px;
	font-size: 21px;
	padding: 0;
}

#contactpage li:before {
	background:url(../assets/star.png) no-repeat;
    width:16px;
    height:16px;
    display:inline-block;
    content: " ";
    padding-right: 10px;
    top: 2px;
    position: relative;
}

blockquote {
	font-size: 21px;
	line-height: 28px;
	padding: 20px 20px 12px 20px;
	margin: 30px 50px;
	background: #efefef;
}

cite {
	float: right;
	font-size: 24px;
	color: #555;
	margin-top: 22px;
}

cite:before {
	background:url(../assets/bubble.png) no-repeat;
    width:24px;
    height:24px;
    display:inline-block;
    content: " ";
    padding-right: 7px;
    top: 5px;
    position: relative;
}

#aboutpage p.recent {
	font-size: 24px;
}

.buyingexpand, .sellingexpand {
	cursor: pointer;
	background: #ddd;
    display: inline-block;
    margin-left: 10px;
    padding: 1px 7px;
    font-size: 14px;
    border-radius: 20px;
}

.buyingmore, .sellingmore {
	display: none;
}

#contactpage p {
	font-size: 21px;
	line-height: 25px;
	padding: 0 50px 0 20px;
	margin: 15px 0;
}

.buysell {
	width: 100%;
	padding: 0 50px;
}

.buysell h1, .buysell h2 {
	font-size: 28px;
}

.buysell h1 {
	color: #ff0000;
}

.buysell h2 {
	font-size: 24px;
}

#buysellpage  .buysell p {
	padding: 0 20px 0 0;
	font-size: 18px;
}

.buysell ul {
	margin: 30px 50px;
    font-size: 21px;
    line-height: 25px;
}

.selling {
	margin-top: 25px;
}

.contactform, .contactleft {
	width: 50%;
	float: left;
}

.contactform {
	margin-top: 15px;
}

.contactleft {
	padding-left: 50px;
}

.contactleft .fb {
	width: 110px;
	margin: 0 0 -2px 5px;
}

.contactleft .facebook {
	color: #4767aa;
	text-align: center;
}

.contactform h2 {
	text-align: center;
	margin-bottom: 30px;
}

.contactform form {
	width: 300px;
	max-width: 100%;
    margin: 0 auto;
    line-height: 30px;
    text-align: center;
    font-size: 24px;
}

.contactform input, .contactform textarea {
	width: 280px;
	margin: 10px;
	max-width: 100%;
	height: 26px;
	font-size: 20px;
	font-family: 'Karla', sans-serif;
}

.contactform textarea {
	height: 75px;
	margin-bottom: 0;
}

.contactform .submit-button {
	width: 100px;
	border: 0px;
	height: 30px;
    background: none;
    border: 1px solid #aaa;
    box-shadow: 0px 1px 1px rgba(0,0,0,.5);
}

.required {
	color: #ff0000;
    font-size: 16px;
    margin-top: 0;
}

#contactpage label span {
	color: #ff0000;
}

.mobilesearch {
	display: none;
}

footer {
	text-align: center;
    padding: 10px;
    color: #eee;
}


footer a:hover {
	color: #5393BD
}

/* superstition subfolder specific */
.superstition .callout {
	margin: 30px auto 60px;
}

.superstition .leslie {
	margin-top: -170px;
}

.superstition .tabs {
	display: none;
}

.superstition h2 {
	margin: 40px auto;
	text-align: center;
}

.superstition h2 a {
	color: #c70303;
}

/* .cardsix .imageblock:before {
    content: 'Coming Soon';
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 99;
    font-size: 45px;
    text-align: center;
    width: 100%;
    color: #fff;
    text-shadow: 2px 2px 10px rgba(0,0,0,.9);
} */

.imageblock.sold,
.imageblock.comingsoon,
.imageblock.undercontract {
	position: relative;
}

.imageblock.sold:before,
.imageblock.comingsoon:before,
.imageblock.undercontract:before {
    content: 'SOLD';
    position: absolute;
    top: calc(50% - 38px);
    left: 0;
    z-index: 101;
	font-size: 65px;
	letter-spacing: 2px;
	font-weight: bold;
    text-align: center;
    width: 100%;
    color: #c70303;
    text-shadow: 2px 2px 10px rgba(0,0,0,.9);
}

.imageblock.comingsoon:before {
	content: 'COMING SOON';
    font-size: 40px;
    top: calc(50% - 20px);
}

.imageblock.undercontract:before {
	content: 'UNDER CONTRACT';
    font-size: 36px;
    top: calc(50% - 20px);
}

@media screen and (max-width: 400px) {
	.imageblock.undercontract:before {
		font-size: 32px;
	}
}

@media screen and (max-width: 374px) {
	.imageblock.undercontract:before {
		font-size: 26px;
	}
}

.imageblock.sold::after,
.imageblock.comingsoon::after,
.imageblock.undercontract::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.25);
    z-index: 99;
}

/* responsive */

@media screen and (max-width: 1000px) {
	.callout { width: 65%; }
	.callout h1 { font-size: 28px; }
    .callout h2 { font-size: 26px; }
    .callout h2 span { font-size: 34px; }
    .leslie { width: 35%; }
    .main .tab { width: 23.5%; margin: 0 .55%; }
}

@media screen and (max-width: 850px) {
	.rog { margin: 0 auto; padding: 20px 0 0 0; }
	.callout { width: 100%; float: none; margin: 20px auto 60px auto; }
    .leslie { width: 100%; float: none; margin-top: -20px; }
    .tabs { margin-left: 1%; }
    .main .tab { width: 49%; margin: 0; border-top: 1px solid #fff;}
    #aboutpage p, #aboutpage li { padding: 0 10px; }
    #contactpage .buysell p, .buysell ul, .buysell h1, .contactform h2 { padding: 0 10px;}
    #aboutpage ul { padding-left: 0; }
    blockquote { margin: 30px 10px; }
    .buysell, .contactform, .contactleft { float: none; width: 100%; padding: 0 15px; }
    #contactpage p { padding: 0 10px;}
    .contactform { margin-top: 40px;}

		.superstition .leslie {
			margin-top: -30px;
		}
}

@media screen and (max-width: 600px) {
	/*.mobilesearch { display: block; }
	.desktopsearch { display: none; }*/
	.video-callout iframe { width: 420px; height: 236px; }
}

@media screen and (max-width: 450px) {
	.superstition .cardsix .imageblock:before {
		top: 90px;
		font-size: 35px;
	}
}

@media screen and (max-width: 420px) {
	.info { height: 270px; }
	.buysell ul {
		margin: 30px 20px;
	}

	.buysell h1 {
		padding: 0;
	}
}

@media screen and (max-width: 410px) {
	.main .tab span { display: none; }
	.main .tab span.slash { display: inline !important; }
}

@media screen and (max-width: 400px) {
	.callout h1 { font-size: 24px; }
	.callout h2 { font-size: 24px; }
    .callout h2 span { font-size: 24px; }
    .main h3 { padding-left: 40px; }
    .contactform input, .contactform textarea { width: 250px; }
    .g-recaptcha { margin-left: 7px; }
    .video-callout iframe { width: 300px; height: 169px; }

		.superstition h2 {
      font-size: 20px;
		}
}

@media screen and (max-width: 375px) {
	.bottom .price { font-size: 26px; }
	.bottom a { line-height: 34px; }
	.main .pages { padding: 5px; }
}

@media screen and (max-width: 350px) {
	.superstition .cardsix .imageblock:before {
		top: 80px;
	}
}
